html{
    background-color: black;
}

.big-text, .small-text{
    color: white;
}

.big-text{
    margin-left: 460px;
    font-size: 25px;
}
.small-text{
    margin-left: 600px;
}

img{
    margin-top: 50px;
    margin-left: 400px;
    border-width: 5px;
    border-bottom: 5px;
    border-style: solid;
    border-color: white;
}