/* Write your code here: */
/*combination selector*/
h1, h2{
    color: blueviolet;
}
/*combination child selection*/
.box >  p{
    color: firebrick;
}
/**/
.box li {
    color: blue;
}
/*selectorselector combination*/
li.done{
    color: yellow;
}