/* Don't change the existing CSS. */

.box {
    background-color: blue;
    padding: 10px;
    color: yellow;
}

p {
    color: yellow;
    margin: 0;
    padding: 0;
}

.white-text {
    background-color: red;
    color: white;
    padding: 10px;
}

#outer-box{
    background-color: purple;
    padding: 10px;
}

.inner-box{
    padding: 0;
    background-color: red;
}
