
#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
img{
    height: 200px;
    width: 200px;
}
.color-title{
    font-weight: normal;
}